body {
  background-color: cadetblue;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
}

.nav-bar {
  background-color: tomato;
  color: black;
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: 5px;
}
.nav-bar a {
  float: right;
  color: black;
  text-align: right;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
h1 {
  color: chartreuse;
}
h2 {
  font-size: 20px;
}
.flexible {
  display: flex;
  padding-top: 20px;
}
.half-width {
  width: 50%;
  padding-left: 4%;
}
.half-width img {
  width: 50%;
}
.link-button {
  text-decoration: none;
  background: orchid;
  border-radius: 3px;
  background-image: linear-gradient(green, yellow);
  padding: 10px 10px;
}
.my-exp {
  background-color: rgba(110, 116, 112, 0.904);
  margin-bottom: 3px;
}
.bg-color1 {
  background-color: darkslategrey;
}

.bg-color2 {
  background-color: linen;
  margin-top: 5px;
}
.experience-scope {
  box-shadow: 10px 10px 40px mediumvioletred;
  width: 40%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 20px;
  border-radius: 5%;
}
#expert {
  border-left: 10px solid;
  border-image: linear-gradient(rgb(255, 0, 149), cyan);
  border-image-slice: 1;
}
#new {
  border-left: 10px solid;
  border-image: linear-gradient(rgb(0, 60, 255), cyan);
  border-image-slice: 1;
}

footer {
  text-align: center;
  color: crimson;
}
.bottom {
  background-color: lightsalmon;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
